@media print {
    #content {
        width: 100%;
    }

    .noprint {
        display: none;
    }
}

@media screen {
    #content {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
}

textarea {
    width: 100%;
    height: 10em;
    resize: none;
}

table {
    width: 100%;
}

td {
    padding: 0.25em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn {
    padding: 0.4em;
    border: 2px black solid;
}

.center {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
    display: inline-block;
    flex-grow: 1;
}

.form-section {
    margin: 0.25em;
    margin-bottom: 1em;
}

.form-section-header {
    font-weight: bold;
    margin-bottom: 0.5em;
}
